/* regole generali */
*  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  background-color: #aa2c51;
}

h1 {
  color: white;
  text-align: center;
  margin: 40px 0;
}

.box-dati {
  height: 350px;
  width: 60%;
  margin: auto;
  background-color: white;
  border-radius: 10px;
}

.name, .chilometri, .eta {
  float: left;
  height: 150px;
  margin: 15px 5px;
  background-color: lightgreen;
  width: calc((100% / 3) - 10px);
}

.box-dati h3 {
  text-align: center;
  margin-bottom: 10px;
  color: #aa2c51;
}

.in-center {
  text-align: center;
}

.box-button {
  float: right;
  position: relative;
  text-align: center;
  margin-top: 40px;
  width: 40%;
  left: -30%;
  height: 80px;
  background-color: lightgreen;
}

#check, #reset {
  margin-top: 25px;
  width: 120px;
  height: 30px;
  font-size: 16px;
  color: #aa2c51;
}

/* regole box genera */
#ticket-result {
  display: none;
}

.box-genera {
  display: none;
  height: 300px;
  width: 60%;
  margin: auto;
  padding: 15px;
  background-color: white;
}


/* Regole Box risultato biglietto */
.name-passenger {
  float: left;
  height: 240px;
  padding: 15px;
  width: 22%;
  background-color: #808080;
}

.box-genera h3 {
  text-align: center;
}

.box-info {
  float: left;
  padding: 15px;
  height: 240px;
  width: calc(78% / 4);
  border-top: 1px solid #808080;
  border-bottom: 1px solid #808080;
}

.box-info h4 {
  text-align: center;
}
